[Unit]
Description=Apply customizations to the Bingie skin
# At boot, patch before Kodi loads the skin.
Before=kodi.service

[Service]
Type=oneshot
ExecStart=/bin/sh /storage/.config/kodi-bingie-customize.sh

[Install]
WantedBy=kodi.service
